MODEL: 'gpt-4o-mini'
MODEL_KWARGS:
    response_format:
        type: "json_object"
MAX_REQUEST_PER_MIN: 490
MAX_TOKENS_PER_MIN: 200000
PROMPT_TEMPLATE: 'test_D'
ITERNUM: 1
FILE_LOCATIONS:
  PROMPT_TEMPLATE_PATH: "src/prompts"
  OUTPUT_FOLDER: 'outputs'
  INCOSE_GUIDE: 'src/data/incose_gtwr.pdf'
  DATASET_FILE_PATH: 'src/data/demo_dataset.xlsx'
SELECTED_EVAL_FUNCS:
   - "eval_avoids_vague_terms"
   - "eval_definite_articles_usage"
   - "eval_has_appropriate_subject_verb"
   - "eval_has_common_units_of_measure"
   - "eval_has_escape_clauses"
   - "eval_has_no_open_ended_clauses"
   - "eval_is_active_voice"
SELECTED_EVAL_WEIGHTS:
   - 0.35
   - 0.05
   - 0.15
   - 0.05
   - 0.10
   - 0.10
   - 0.20
REQUIREMENTS_DATASET_SETTINGS:
  REQ_COLNAME: 'requirements'
  REQ_ID_COLNAME: 'requirement_id'
  FAILED_EVAL_COL: 'failed_evals'
INCOSE_GUIDE_SETTINGS:
  SECTIONS_REGEX_PAT: '([1-9]\.([0-9]+\.)?[0-9]?)[\s]+R\d'
  REPLACE_TOKENS:
    - 'INCOSE-TP-2010-006-04| VERS/REV:4  |  1 July 2023'
    - '{'
    - '}'
  REPLACE_WITH: ' '
  SUBPATTERNS: 
    - 'Guide to Writing Requirements[\s\d]+'
INCOSE_RULE_GROUPS:
  eval_acronym_consistency: Uniformity_Of_Language
  eval_avoid_pronouns: Completeness
  eval_avoids_absolutes: Realism
  eval_avoids_parentheses: Abstraction
  eval_avoids_purpose_phrases: Abstraction
  eval_avoids_vague_terms: Accuracy
  eval_consistent_terms_and_units: Quantification
  eval_correct_punctuation: Uniformity_Of_Language
  eval_correct_spelling: Uniformity_Of_Language
  eval_decimal_format: Uniformity_Of_Language
  eval_definite_articles_usage: Accuracy
  eval_explicit_enumeration: Abstraction
  eval_follows_style_guide: Uniformity_Of_Language
  eval_group_related_needs_requirements: Modularity
  eval_has_appropriate_subject_verb: Accuracy
  eval_has_combinators: Abstraction
  eval_has_common_units_of_measure: Accuracy
  eval_has_correct_grammar: Non-Ambiguity
  eval_has_escape_clauses: Accuracy
  eval_has_explicit_conditions: Conditions
  eval_has_explicit_conditions_for_single_action: Conditions
  eval_has_indefinite_temporal_keywords: Quantification
  eval_has_measurable_performance: Tolerance
  eval_has_no_open_ended_clauses: Accuracy
  eval_has_no_superfluous_infinitives: Concision
  eval_has_range_of_values: Tolerance
  eval_has_separate_clauses_for_conditions: Concision
  eval_has_supporting_diagram_or_model_reference: Singularity
  eval_is_active_voice: Accuracy
  eval_is_independent_of_heading: Completeness
  eval_is_singular_statement: Singularity
  eval_is_solution_free: Abstraction
  eval_is_structured_set: Modularity
  eval_is_structured_statement: Concision
  eval_is_unique_expression: Uniqueness
  eval_logical_expressions: Non_Ambiguity
  eval_no_oblique_symbol: Non_Ambiguity
  eval_terms_are_defined: Non_Ambiguity
  eval_uses_abbreviations: Uniformity_of_Language
  eval_uses_not: Tolerance
  eval_uses_universal_qualification: Quantifiers